h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    margin-left: 30px;
}


p{
    color: white;
    margin-left:30px;
    font-size: 15px;
    
}
img{
    display: block;
    margin: auto;
    border-radius: 15px;
}
body{
    background-color: blue;
}

input{
    border-radius: 10px;
    margin-left: 30px;
}
button{
    margin-left: 30px;
    color: green;
    border-bottom: 10px;

}