h1{
    color: gray;
    text-align: center;
}



p{
    color: black;
    margin-left:10px;
    font-size: 15px;
    
}
img{
    display: block;
    margin: auto;
    border-radius: 15px;
}
body{
    background-color: blue;
}

input{
    border-radius: 10px;
}